In [2]:
import seaborn as sns
import pandas as pd

In [10]:
films_info = pd.read_csv('.\data\info.csv')
f = []
for i in range(10):
    f.append(pd.read_csv('.\data\short-comments\\{}.csv'.format(i)))

In [11]:
films_info

,id,name,scores,box-office,five,four,three,two,one
0,3042261,è¥¿çº¿æ— æˆ˜äº‹ Im Westen nichts Neues,8.6,62551,44.3,42.1,11.9,1.3,0.4
1,35779959,å±ç¬‘ Smile,6.3,22093,6.7,23.6,51.0,15.9,2.9
2,35730910,é‡è›®äºº Barbarian,6.9,20812,10.1,36.7,42.3,8.6,2.3
3,35240874,å…±åŠ©2ï¼šå›½é™… ê³µì¡°2:ì¸í„°ë‚´ì…”ë‚,7.1,16396,12.9,37.6,43.7,5.1,0.7
4,35441582,6/45 ìœ¡ì‚¬ì˜¤,7.7,25701,18.5,49.3,29.7,2.2,0.3
5,35801819,ç€å°” Pearl,7.3,22514,14.2,43.2,36.7,4.8,1.1
6,35426373,ç‹¼ç‹©çŒ ëŠ‘ëŒ€ì‚¬ëƒ¥,5.9,9451,7.7,15.8,46.4,23.4,6.7
7,26641055,è‰¯å¿ƒæŠ¤å£« The Good Nurse,6.9,9030,7.9,37.5,49.4,4.7,0.6
8,36118263,åœ°ç‹±å°–å…µ Ğ›ÑƒÑ‡ÑˆĞ¸Ğµ Ğ² Ğ°Ğ´Ñƒ,8.1,4617,40.0,36.7,17.0,3.0,3.3
9,35017155,å“¥ä»¬å„¿ Bros,7.3,7543,18.4,37.8,34.6,7.3,1.9

In [12]:
f[1]

,seen,username,id,time,location,votes,star,comment
0,1,winteriscommin,200067839,2022-09-29 00:12:08,æ¾³å¤§åˆ©äºš,295,40,åœ¨æ–°äº¤çš„å¥½å…„å¼Ÿä»¬é¢å‰ç«‹äº†èƒ†å¤§åŒ…å¤©çš„äººè®¾ï¼Œç»“æœè¢«jump scareå“å¾—æ»‹å“‡ä¹”å«ï¼Œæ€ªä¸¢äººçš„ğŸ˜“ğŸ˜“
1,1,Superbia,152072392,2022-09-30 10:41:21,ç¾å›½,239,40,å†æ¬¡è¯æ˜æ¬§ç¾äººæ‹ä¸å¥½å•çº¯çš„é¬¼ç‰‡ã€‚æœ¬æ¥æ˜¯å¹´åº¦æœ€æœŸå¾…çš„horrorï¼Œæ¯•ç«Ÿæ˜¯å’Œä¸ªäººæ¯”è¾ƒå–œæ¬¢çš„ã€Šå®ƒåœ¨...
2,1,æ¯›å°æƒº,sugertown,2022-09-27 06:14:39,è‹±å›½,505,30,ä¼ªææ€–ç‰‡çˆ±å¥½è€…çœ‹å®Œåéœ€è¦çœ‹10éå¸•ä¸é¡¿ç†Šå®‰æŠšæˆ‘çš„é­‚é­„
3,1,24/7,149946560,2022-09-27 12:43:56,ç¾å›½,440,30,9/26/2022 å­¦æ ¡pre-screening ä»æ¥æ²¡æœ‰çœ‹è¿‡jump scareè¿™ä¹ˆå¯†é›†...
4,1,ğŸ§Š Êœá´€É´É´á´€,227060134,2022-09-29 18:47:57,æ¾³å¤§åˆ©äºš,191,40,ä»Šå¤©åœ¨åœŸæ¾³çœ‹äº† å‰§æƒ…ä¸€èˆ¬ æ²¡æœ‰äº¤ä»£çš„å¾ˆæ¸…æ¥š jump scareä¸é”™ æ­é…å½±å…å·¨å¤§éŸ³æ•ˆæœ‰å¤Ÿå“...
...,...,...,...,...,...,...,...,...
395,0,yæ²³,192067804,2022-10-18 09:05:26,æ±Ÿè‹,0,è±†å‹,NaN
396,0,çŒªåŒ…,166047357,2022-06-24 01:56:10,NaN,0,å–œæ¬¢é¢˜æ,NaN
397,0,é¡½å›ºæ±¡æ¸,NGC6814,2022-06-23 22:56:40,NaN,0,å¸Œæœ›åˆ«è¯ˆéª—æˆ‘,NaN
398,0,é¤ƒå­,186231411,2022-10-14 02:15:25,å®å¤,0,åˆ«è®©æˆ‘å¤±æœ›,NaN
399,0,è´ªå—”ç—´,163474618,2022-06-25 17:47:00,NaN,0,é¢„å‘Šç‰‡ç‹ ç‹ å¸å¼•äºº,NaN